.footer-container {
	background: #0b0c0e;
	height: 280px;
}

@media only screen and (max-width: 676px) {
	.footer-container {
		width: auto;
	}
}

.footer-info {
	padding-left: 60px;
	padding-top: 70px;
	p {
		font-size: 40px;
		line-height: 44px;
		color: #f4f7fa;
	}
}

.footer-contact {
	position: relative;
	margin-top: 90px;

	.footer-get-touch {
		display: flex;
		margin-left: 250px;
		width: 190px;

		// button style
		padding: 18px 42px;
		background: #f4f7fa;
		border: 1px solid #f4f7fa;
		border-radius: 170px;

		// font style
		font-size: 18px;
		line-height: 22px;
		color: #0b0c0e;
	}

	.footer-contact-list {
        position: relative;
        margin-top: 70px;

		ul {
			display: flex;
			flex-direction: row;
			position: relative;
			li {
				font-weight: 500;
				font-size: 18px;
				line-height: 160%;
				color: #f4f7fa;
                margin-right: 24px;
			}
            a:hover {
                color: rgb(189, 189, 189);
            }
		}
	}
}
