#navbar {
	z-index: 9999;
	top: 0;
	animation: fadeIn 1s ease-out forwards;
	.container {
		height: 70px;
		transition: 0.3s ease-out;
		justify-content: center;

		span {
			float: right;
			font-family: "fs-medium";
			font-size: 20px;
			color: white;
		}

		#menu-desktop {
			display: flex;
			gap: 30px;
		}

		#menu-expand {
			display: none;
		}

		#menu-mobile {
			display: none;
		}
	}
}

@media (max-width: 768px) {
	#navbar {
		.container {
			height: 50px;
			justify-content: normal;
			.row {
				margin-top: 5px;
				.navbar-brand img {
					width: 40px;
					height: 40px;
				}
				#menu-desktop {
					display: none;
				}
				#menu-expand {
					display: flex;

					button {
						row-gap: 4px;
						display: flex;

						.group-bar {
							height: 3px;
							width: 25px;
							position: relative;
							display: flex;
							flex-wrap: wrap;
							img {
								position: absolute;
							}
						}

						img {
							position: relative;
							rotate: 0deg;
							transform-origin: 50% 50%;
							top: 0;
							opacity: 1;
							width: 25px;
							height: 4px;
							transition: 0.3s ease-in-out;
						}

						.bar-1 {
							animation: showBarDown .1s ease-out;
						}

						.bar-3 {
							animation: showBarUp .1s ease-out;
						}
					}
				}
				#menu-mobile {
					display: flex;
					gap: 20px;
					
					span {
						font-size: 16px;
					}
				}
			}
		}

		&.cross {
			// FOR MOBILE
			.container {
				height: auto;
				margin-bottom: 20px;
				#menu-expand {
					button {
						.bar-1 {
							animation: showBarUp .1s ease-out;
							opacity: 0;
						}
						.bar-21 {
							rotate: -45deg;
						}
						.bar-22 {
							rotate: 45deg;
						}
						.bar-3 {
							animation: showBarDown .1s ease-out;
							opacity: 0;
						}
					}
				}
			}
		}
	}
}