$light-grey: #f5f5f5;
$light-blue: #eef7ff;
$light-green: #cde8e5;
$dark-grey: #657580;
$bold-green: #7ab2b2;
$bolder-green: #4d869c;
$soft-dark-green: #087382;
$dark-green: #285f75;
$blue: #123a88;
$black-green: #013D55;
$indigo: #0b1a4f;
$black: #0c222a;

// Background color classes
.bg-light-grey {
    background-color: $light-grey;
}

.bg-light-blue {
    background-color: $light-blue;
}

.bg-light-green {
    background-color: $light-green;
}

.bg-dark-grey {
    background-color: $dark-grey;
}

.bg-bold-green {
    background-color: $bold-green;
}

.bg-bolder-green {
    background-color: $bolder-green;
}

.bg-soft-dark-green {
    background-color: $soft-dark-green;
}

.bg-dark-green {
    background-color: $dark-green;
}

.bg-blue {
    background-color: $blue;
}

.bg-black-green {
    background-color: $black-green;
}

.bg-indigo {
    background-color: $indigo;
}

.bg-black {
    background-color: $black;
}

// Font color classes
.color-light-grey {
    color: $light-grey;
}

.color-light-blue {
    color: $light-blue;
}

.color-light-green {
    color: $light-green;
}

.color-dark-grey {
    color: $dark-grey;
}

.color-bold-green {
    color: $bold-green;
}

.color-bolder-green {
    color: $bolder-green;
}

.color-soft-dark-green {
    color: $soft-dark-green;
}

.color-dark-green {
    color: $dark-green;
}

.color-blue {
    color: $blue;
}

.color-black-green {
    color: $black-green;
}

.color-indigo {
    color: $indigo;
}

.color-black {
    color: $black;
}