@import 'variables';

.experience-container {
    padding: 32px;
    transition: .3s ease-out;
    background-color: transparent;

    &:hover {
        background-color: white;
    }

    .thumbnail {
        padding-right: 32px;
        margin-right: 30px;
        border-right: 2px solid #DADADA;
        aspect-ratio: 1/1;
        img {
            object-fit: contain;
        }
    }
    .content {

        p {
            font-size: 16px;
        }

        .title {
            width: fit-content;
            h4 {
                font-size: 32px;
            }
            hr {
                height: 3px;
                background-color: black;
                opacity: 1;
                width: auto;
                margin-bottom: 10px;
            }
        }

    }
    .description {
        margin-top: 24px;
        margin-bottom: 12px;
    }
    
    .tags {
        margin-top: 12px;
        .tag {
            padding: 4px 12px;
            margin-right: 10px;
            width: fit-content;
        }
    }

    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
}

// =================== RESPONSIVE ===================

@media (max-width: 768px) {
    .experience-container {
        flex-wrap: wrap;
        padding: 24px;
        .thumbnail {
            // flex-basis: 50%;
            padding-inline: 16px;
            margin-right: 16px;
            img {
                width: 80px;
                height: 80px;
            }
        }
        .content {
            // flex-basis: 40%;
            .title {
                h4 {
                    font-size: 24px;
                }
                hr {
                    margin-bottom: 4px;
                }
            }
            p {
                font-size: 12px;
            }
        }
        .tags {
            font-size: 12px;
        }
        .desktop {
            display: none;
        }
    
        .mobile {
            display: block;
        }
    }
}

@media (max-width: 480px) {
    .experience-container {
        padding: 16px;
        .thumbnail {
            padding-inline: 8px;
            margin-right: 16px;
            img {
                width: 50px;
                height: 50px;
            }
        }

        .content {
            .title {
                h4 {
                    font-size: 16px;
                }
            }
            p {
                font-size: 8px;
            }
        }

        .description {
            margin-top: 12px;
        }
    }
}