#part-1 {
    height: 500px;
    .container {
        h1 {
            font-size: 64px;
            margin-bottom: 21px;
        }
        h5 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
        }
    }
}

#part-2 {
    .container {
        padding: 60px 0 64px 0;
        h3 {
            margin-bottom: 24px;
        }
        .rounded-circle {
            padding: 10px;
            width: fit-content;
            height: fit-content;
        }
    }
}

#part-3 {
    .container-fluid {
        .card-carousel {
            gap: 50px;
            margin-top: 80px;
            margin-bottom: 24px;
        }
    }
}

#part-4 {
    padding-block: 82px;
}

#part-5 {
    //
}

#part-6 {
    padding-block: 60px;

    h2 {
        margin-bottom: 50px;
    }
}