@import "fonts";
@import "variables";

#hero {
	height: 500px;
	.container {
		h1 {
			font-size: 64px;
			margin-bottom: 21px;
		}
		h5 {
			font-size: 40px;
		}
		p {
			font-size: 20px;
		}
	}
}

#profile {
	.container {
		h3 {
			margin-bottom: 24px;
		}
		.rounded-circle {
			width: fit-content;
			height: fit-content;
			max-width: 320px;
			max-height: 320px;
			background-image: url(../Images/Foto.png);
			background-repeat: no-repeat;
			background-size: contain;
			border: 10px solid $light-green;
			aspect-ratio: 1/1;

			img {
				max-height: 300px;
				max-width: 300px;
				height: auto;
			}
		}
	}
}

#experiences {
	.container-fluid {
		.card-container {
			gap: 50px;
			margin-top: 60px;

			.row {
				row-gap: 24px;
			}
		}
	}
}

#works {
	.container {
		row-gap: 80px;
	}
}

#hobbies {
	//
}

#skills {
	.card-container {
		margin-top: 32px;
	}
}

// RESPONSIVE

@media (max-width: 1024px) {
	#hero {
		height: 400px;
		.container {
			h1 {
				font-size: 52px;
				margin-bottom: 14px;
			}
			h5 {
				font-size: 30px;
			}
			p {
				font-size: 16px;
			}
		}
	}

	#experiences {
		.row {
			--bs-gutter-x: 0 !important;
		}
	}
}

@media (max-width: 768px) {
	#hero {
		height: 300px;
	}
}

@media (max-width: 480px) {
	#hero {
		.container {
			h1 {
				font-size: 40px;
				margin-bottom: 4px;
			}
			h5 {
				font-size: 22px;
			}
			p {
				font-size: 14px;
			}
		}
	}

	#works {
		.container {
			row-gap: 74px;
		}
	}

	#experiences {
		.container-fluid {
			.card-container {
				margin-top: 30px;
			}
		}
	}
}

@media (max-width: 320px) {
}
