@import "variables";

.work-showcase {
	.showcase-container {
		bottom: 0;
		flex: 1;
		border: 3px solid $dark-green;
		padding: 84px 32px;
		z-index: 2;
		transition: 0.3s ease-out;

		.showcase-title {
			font-size: 4rem;
			border: 5px solid $dark-green;
			line-height: 60px;
			padding: 6px 8px 0px;
			width: fit-content;
			top: -38px;
		}

		.showcase-desc {
			// font-size: 24px;
			margin-bottom: 22px;
			width: 90%;
		}

		.showcase-footer {
			padding: 0 32px 32px;
		}

		img {
			bottom: 32px;
			position: absolute;
		}

		.showcase-tone {
			column-gap: 10px;
			margin: auto;
			span {
				width: 30px;
				height: 30px;
				// border: 3px solid $dark-green;
				box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
				-webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
				-moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
			}
		}
	}

	// .showcase-container,
	// .back-shadow {
	// 	width: 90%;
	// }

	.side-button {
		right: -5%;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		padding-block: 16px;
		rotate: 180deg;
		transition: .2s ease-out;
		a {
			font-size: 100px;
			line-height: 100px;
		}

		&:hover {
			right: -15%;
		}
	}
}

.work-showcase.img-right {
	left: -10px;
	.showcase-container {
		left: 0;

		.showcase-title {
			left: 10px;
		}

		img {
			right: 32px;
		}
	}
}

.work-showcase.img-left {
	right: -10px;
	.showcase-container {
		right: 0;
		align-content: flex-end;

		.showcase-title {
			right: 10px;
		}

		.showcase-desc {
			text-align: right;
		}

		img {
			left: 32px;
		}
	}
}

// RESPONSIVE
@media (max-width: 1024px) {
	.work-showcase {
		.showcase-container {
			padding-block: 50px;
			.showcase-title {
				font-size: 50px;
				line-height: 50px;
			}
			.showcase-desc {
				// font-size: 20px;
				margin-bottom: 60px;
			}

			.showcase-footer {
				padding: 0 32px 32px;
				.showcase-tone {
					span {
						width: 25px;
						height: 25px;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.work-showcase {
		.showcase-container {
			.showcase-title {
				font-size: 46px;
				line-height: 46px;
			}
			.showcase-desc {
				width: 100%;
				// font-size: 16px;
				margin-bottom: 100px;
			}

			.showcase-footer {
				flex-direction: column-reverse;
				padding: 0 32px 32px;
				.showcase-tone {
					span {
						width: 20px;
						height: 20px;
					}
				}
				img {
					height: 70px;
					margin-inline: auto;
					margin-bottom: 16px;
					position: static;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.work-showcase {
		.showcase-container {
			padding: 42px 16px;
			.showcase-title {
				font-size: 40px;
				line-height: 40px;
			}

			.showcase-desc {
				margin-bottom: 90px;
			}

			.showcase-footer {
				padding: 0 16px 24px;
				img {
					height: 60px;
					margin-bottom: 8px;
				}
			}
		}
	}
}

@media (max-width: 320px) {
	.work-showcase {
		padding-inline: 8px;
		.showcase-container {
			.showcase-desc {
				// font-size: 14px;
			}
		}
	}
	.work-showcase.img-right {
		left: -4px;
	}

	.work-showcase.img-left {
		right: -4px;
	}
}
