.skill-card {

	* {
		transition: 0.3s ease-out;
	}
	
	.ratio {
		box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.26);
		-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.26);
		-moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.26);
		width: 150px;
		border-radius: 5px;

		img {
			object-fit: contain;
		}
	}

	p {
		opacity: 0;
	}

	&:hover {
		.ratio {
			box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.26);
			-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.26);
			-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.26);
			filter: brightness(0.5);
		}
		p {
			opacity: 1;
		}
	}
}
