.education-card-container {
	height: auto;
	border-left: 8px solid #c7d0d9;
	margin-bottom: 50px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

	.education-card-name {
		font-weight: 500;
		font-size: 20px;
		line-height: 144%;
		color: #3c3d3e;
	}

	.education-card-field {
		font-size: 20px;
		line-height: 201.5%;
		color: #989898;
	}
}
