.experience-card-container {
    width: fit-content;
	padding: 27px;
	background: #ffffff;
    margin-bottom: 40px;

    .experience-card-icon {
        width: 140px;
        margin-right: auto;
        margin-left: auto;
    }
    
    .experience-card-position {
        font-weight: 500;
        font-size: 20px;
        line-height: 144%;
        color: #3C3D3E;
    }

    .experience-card-place {
        width: 200px;
        font-size: 18px;
        line-height: 135.5%;
        color: #989898;        
    }

    .experience-card-period {
        font-size: 14px;
        line-height: 221%;
        color: #3C3D3E;
    }

    .experience-card-desc {
        font-size: 12px;
        line-height: 135.5%;
        letter-spacing: 0.145em;
        color: #A4A7AA;        
    }
}
